
.body {
  background-color: #10203f;
  /*font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
  font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.primary-bg-color {
  background-color: #3f32a2;
}

.card-bg-color {
  background-color: rgb(63, 50, 162, 0.2);
}

.secondary-bg-color {
  background-color: #31469b;
}

.accent-bg-color {
  background-color: #6d2b80;
}

.primary-text-color {
  color: #3f32a2;
}

.card-text-color {
  color: rgb(63, 50, 162, 0.2);
  opacity: 0.2;
}

.secondary-text-color {
  color: #31469b;
}

.accent-text-color {
  color: #6d2b80;
  /* text-decoration-color: #6d2b80;
  text-decoration-line: underline; */
}

.accent-text-color:hover {
  color: #a36db2;
  text-decoration-color: #a36db2;
  transition: 0.3s;
}


.text-main {
  color: rgb(234, 234, 234);

  font-weight: 300;
}

#imageLogo {
  max-height: 300px;
}

#supermImg {
  width: 600;
  height: 375;
  border-style: solid;
  border-width: 8;
}

.name {
  font-weight:700;
  /* transition: 0.7s; */
}

/* .name:hover {
  background-color: rgb(234, 234, 234);
  transition: 0.3s;
} */

.title-hover-transition {
  transition: 1s;
  transition-delay: 0.1s;
}

.title-hover-transition:hover {
  /* background-color: rgb(234, 234, 234); */
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.subtitle-hover-transition {
  transition: 0.3s;
}

.subtitle-hover-transition:hover {
  /* background-color: rgb(234, 234, 234); */
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.blur-hover-transition {
  transition: 0.3s;
}

.blur-hover-transition:hover {
  text-shadow: 2px 2px 10px white;
  transition: 0.3s;
}

.border-color-hover-transition {
  border-color: #31469b;
  transition: 0.3s;
}

.border-color-hover-transition:hover {
  border-color: white;
  transition: 0.3s;
}


li {
  transition: 0.1s;
}

li:hover {
  font-weight: bold;
  transition: 0.1s;
}

/*   .container {
  display: flex;
  justify-content: center;
} */

.contact-link {
  font-weight: 700;

  font-size: 1.5rem;
  letter-spacing: 1px;
}
