
:root {
  --background: #10203f;
  --primary: #3f32a2;
  --card: rgb(63, 50, 162, 0.2);
  --secondary: #31469b;
  --accent: #6d2b80;
}

.body {
  background-color: var(--background);
  /*font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
  font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.primary-bg-color {
  background-color: var(--background)
}

.card-bg-color {
  background-color: var(--card)
}

.secondary-bg-color {
  background-color: var(--secondary)
}

.accent-bg-color {
  background-color: var(--accent)
}

.primary-text-color {
  color: var(--primary);
}

.card-text-color {
  color: var(--card);
}

.secondary-text-color {
  color: var(--secondary);
}

.accent-text-color {
  color: var(--accent);
  /* text-decoration-color: #6d2b80;
  text-decoration-line: underline; */
}

.accent-text-color:hover {
  color: #a36db2;
  text-decoration-color: #a36db2;
  transition: 0.3s;
}


.text-main {
  color: rgb(234, 234, 234);

  font-weight: 300;
}

#imageLogo {
  max-height: 300px;
}

.project-img {
  /* width: 600;
  height: 375; */

  border-color: white;
  border-style: solid;
  border-width: 8;
}

.name {
  font-weight:700;
  /* transition: 0.7s; */
}

/* .name:hover {
  background-color: rgb(234, 234, 234);
  transition: 0.3s;
} */

.title-hover-transition {
  transition: 1s;
  transition-delay: 0.1s;
}

.title-hover-transition:hover {
  /* background-color: rgb(234, 234, 234); */
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.subtitle-hover-transition {
  transition: 0.3s;
}

.subtitle-hover-transition:hover {
  /* background-color: rgb(234, 234, 234); */
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.blur-hover-transition {
  transition: 0.3s;
}

.blur-hover-transition:hover {
  text-shadow: 2px 2px 10px white;
  transition: 0.3s;
}


.card-hover-transition {
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: 0.3s;
}

.card-hover-transition:hover {
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  box-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

.border-color-hover-transition {
  border-color: var(--secondary);
  transition: 0.3s;
}

.border-color-hover-transition:hover {
  border-color: white;
  transition: 0.3s;
}


li {
  transition: 0.1s;
}

li:hover {
  font-weight: bold;
  transition: 0.1s;
}

/*   .container {
  display: flex;
  justify-content: center;
} */

.contact-link {
  font-weight: 700;

  font-size: 1.5rem;
  letter-spacing: 1px;
}
